body{
  overflow-x: hidden;
  
   
}
.button1 {
  position: relative;
  background-color: green;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 400px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right,green  ,yellow );
}

.button1:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0s


}

.button1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.back{
  background: url(./Capture.PNG) no-repeat center;
  background-size: cover;

}